<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rapunzel">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TimeChangeActivity" />
        <activity android:name=".deleteServicesActivity"></activity>
        <activity android:name=".addServicesActivity" />
        <activity android:name=".ServiceLocationsActivity" />
        <activity android:name=".ServicesActivity" />
        <activity android:name=".FinanceActivity" />
        <activity android:name=".AgendaActivity" />
        <activity android:name=".InboxActivity" />
        <activity android:name=".PastAppActivity" />
        <activity android:name=".IncomingAppActivity" />
        <activity android:name=".HRManagerActivity" />
        <activity android:name=".CareerPathActivity" />
        <activity android:name=".NavActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>